:root {
    --title-color: #322153;
    --primary-color: #34cb79;
    --form-color: #f0f0f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--form-color);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Ubuntu, sans-serif;
    color: var(--title-color);
}

/*BOX MODEL

  Modelo de caixa
  Toda caixa tem
  Largura, altra, espaçamentos, preenchimentos
  bordas, cor, fundo, maneira que é vista pelo HTML(display),
  posicionamento, alinhamentos

*/